body {
    background:whitesmoke;
}
#welcome{
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    font-family: Raleway-SemiBold;
    font-weight: bold;
}
#img{
    background-image: url("img/Ciel.jpg");
    background-size: contain;
    padding: 10%;
    color: white;
    width: 100%;

}
#inscr{
    text-align: center;
    color:whitesmoke;
    margin-top: 10px;
    border: 3px outset #FFFFFF;
    border-radius: 27px;
    background: dimgrey;
    width:fit-content;
    font-size: xxx-large;
    margin-left: auto;
    margin-right: auto;
}
.valid{
    background: whitesmoke;
    font-family: Raleway-SemiBold,sans-serif;
    padding: 10px;
    font-size: x-large;
    text-align: center;
    border: 5px ridge #A4A4A4;
    border-radius: 9px;
}
