<script src="https://kit.fontawesome.com/98cf9202be.js" crossorigin="anonymous"></script>
<!-- START HEADER -->
<div class="header" style="min-height: 12%">
    <div class="container">
        <div class="header-inner justify-content-start header-lg-height title-bar">

            <div class="brand inline align-self-end">
                <a href="" class="btn-link toggle-sidebar d-lg-none header-icon sm-p-l-0 btn-icon-link" data-toggle="horizontal-menu">
                    <i class="pg-icon">menu</i>
                </a>
            </div>
            <h2 class="page-title align-self-end">
                Association Ciel Kol Yaacov
            </h2>
        </div>
        <div class="menu-bar header-sm-height" data-pages-init='horizontal-menu' data-hide-extra-li="4">
            <a href="#" class="btn-link header-icon toggle-sidebar d-lg-none" data-toggle="horizontal-menu">
                <i class="pg-icon">close</i>
            </a>
            <ul>
                <li>
                    <a href="{{ path('office_index') }}">Accueil</a>
                </li>

                <li>
                    <a href="{{ path('office_index') }}">
                        <span class="title">Inscription</span>
                    </a>
                </li>


            </ul>
        </div>
    </div>
</div>
